/* box model fix */
/* details: www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Oxygen', sans-serif;
    /* font-family: 'Poiret One', cursive; */
    /* font-family: 'Quicksand', sans-serif; */
    color: black;
    background-image: url("/beer-aroma.jpg");
    background-repeat: no-repeat;
    background-color: white;
    margin: 0px;
}

form {
  margin: 10px;
}

header h1, h2, h3, h4, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

nav li  {
    background: #DCDCDC;
    opacity: 0.8;
    padding: 4px;
    padding-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

nav li:hover {
    opacity: 0.6;
}

nav a {
    color: black;
    text-decoration: none;
}

#view_beers {
  margin: 30px;
}

table {
  margin: 20px;
}

table h3 {
  padding: 0;
  margin: 0px;
}
