<h1>Welcome to Beer Ratings</h1>
<p>Rate beers.  Add beers.  Beer.</p>
<h3>Make a selection:</h3>
<ul>
  <li><a href="/beer/beers_menu">Beer Menu</a>!</li>
  <li><a href="/users/users_menu">Users Menu</a></li>
  <li><a href="breweries/breweries_menu"></li>
  <li>other stuff will go here</li>
</ul>