<header>
  <h1>Welcome to Beer Ratings</h1>
  <p>Rate beers.  Add beers.  Beer.</p>
  <h3>Make a selection:</h3>
  <nav>
    <ul>
      <a href="/beer/beers_menu"><li>Beer Menu</li></a>
      <a href="/users/users_menu"><li>Users Menu</li></a>
      <a href="/breweries/breweries_menu"><li>Breweries Menu</li></a>
    </ul>
  </nav>
</header>