<h1>Movies Database Homepage</h1>
<h3>Make a selection:</h3>
<ul>
  <li><a href="/add_menu">Add a record</a>
  <li><a href="/view_menu">View records</a>
  <li><a href="/edit_menu">Edit records</a>
  <li><a href="/delete_form">Delete records</a>
</ul>