<h1>Delete User</h1>
<% if @error %>
  <h3>There was an error deleting the user. Please try again.</h3>
<% end %>
<ul>
  <li><h3>Delete User</h3>
    <form action="/users/delete_user">
      <select name="user_id">
        <% @all_users.each do |user| %>
          <option value="<%= user.id %>"><%= user.id %>. <%= user.user_name %></option>
        <% end %>
      </select>
      <input type="submit" value="Delete User">
    </form>
  </li>

<ul>
  <li><a href="users_menu">User Menu</a></li>
  <li><a href="/homepage">Homepage</a></li>
</ul>