<h1>A list of all users in the database:</h1>
<ul>
  <% @all_users.each do |users| %>
    <li> ID: <%= users.id %> -- <%= users.user_name %>
  <% end %>
</ul>

<ul>
  <li><a href="users_menu">Users menu</a></li>
  <li><a href="/homepage">Homepage</a></li>
</ul>