<header>
  <h1><%= @new_brewery.brewery_name %> added!</h1>
</header>
<nav>
  <ul>
    <li><a href="breweries_menu">Breweries Menu</a></li>
    <li><a href="/homepage">Homepage</a></li>
  </ul>
</nav>