<h1>Manage Breweries</h1>
<h3>Make a selection:</h3>
<ul>
  <li><a href="/breweries/view_all_breweries">View Breweries</a></li>
  <li><a href="/breweries/add_breweries">Add a Brewery</a></li>
  <li><a href="/breweries/edit_brewery_form">Edit a Breweries' Info</a></li>
  <li><a href="/breweries/delete_brewery_form">Delete a Brewery</a></li>
</ul>