<header>
  <h1><%= @brewery_to_edit.brewery_name %> Updated!</h1>
</header>
<nav>
  <ul>
    <li><a href="breweries_menu">Breweries menu</a></li>
    <li><a href="/homepage">Homepage</a></li>
  </ul>
</nav>