<h1>Manage Breweries</h1>
<h3>Make a selection:</h3>
<ul>
  <li><a href="/users/view_all_users">View users</a></li>
  <li><a href="/users/add_users">Add a User</a></li>
  <li><a href="/users/edit_users_form">Edit a Users Info</a></li>
  <li><a href="/users/delete_user_form">Delete a User</a></li>
</ul>