<header>
  <h1>Edit Brewery</h1>
  <% if @error %>
    <h3>There was an error updating the Brewery. Please try again.</h3>
  <% end %>
</header>
<ul>
  <li><h3>Change brewery Name</h3>
    <form action="/breweries/edit_brewery_name">
      <select name="brewery_id">
        <% @all_breweries.each do |brewery| %>
          <option value="<%= brewery.id %>"><%= brewery.id %>. <%= brewery.brewery_name %>, <%= brewery.city %></option>
        <% end %>
      </select>
      <input type="text" placeholder="Change Name" name="brewery_name">
      <input type="submit" value="Change Name">
    </form>
  </li>
<nav>
  <ul>
    <li><a href="breweries_menu">Users menu</a></li>
    <li><a href="/homepage">Homepage</a></li>
  </ul>
</nav>