<header>
  <h1>Let's go...</h1>
  <h3>Make a selection:</h3>
  <nav>
    <ul>
      <li><a href="/beer/view_all_beers">View some beers</a></li>
      <li><a href="/beer/view_beer_rating">View an individual beers' rating</a></li>
      <li><a href="/beer/add_beers">Add me some beers</a></li>
      <li><a href="/beer/edit_beers">Edit a beer's info</a></li>
      <li><a href="/beer/delete_beer_form">Delete a beer</a></li>
    </ul>
  </nav>
</header>

