<h1>A list of all movies in the database:</h1>
<ul>
  <% @all_beers.each do |beers| %>
    <li><%= beers.beer_name %>
      <ul>
        <li>Rating: <%= beers.beer_average %></li>
        <li>ID: <%= beers.id %></li>
      </ul>
    </li>
  <% end %>
</ul>

<ul>
  <li><a href="beers_menu">Beer menu</a></li>
  <li><a href="/homepage">Homepage</a></li>
</ul>