<h1><%= @new_beer.beer_name %></h1>

<p>Average rating for <%= @new_beer.beer_name %> is <%= @average %>

<ul>
  <li><a href="beers_menu">Beer menu</a></li>
  <li><a href="/homepage">Homepage</a></li>
</ul>