<h1>View a Beer's Rating</h1>
<% if @error %>
  <h3>There was an error updating the beer. Please try again.</h3>
<% end %>
<ul>
  <li><h3>Choose a beer:</h3>
    <form action="/beer/view_rating">
      <select name="beer_id">
        <% Beer.all.each do |beer| %>
          <option value="<%= beer.id %>"><%= beer.id %>. <%= beer.beer_name %></option>
        <% end %>
      </select>
      <input type="submit" value="View Rating">
    </form>
  </li>

<ul>
  <li><a href="beers_menu">Beer menu</a></li>
  <li><a href="/homepage">Homepage</a></li>
</ul>