<h1>A list of all beers in the database:</h1>
<ul>
  <% @all_beers.each do |beer| %>
    <li><%= beer.beer_name %>
      <ul>
        <li>Rating: <%= beer.beer_average(@all_ratings) %></li>
        <li>ID: <%= beer.id %></li>
      </ul>
    </li>
  <% end %>
</ul>

<ul>
  <li><a href="beers_menu">Beer menu</a></li>
  <li><a href="/homepage">Homepage</a></li>
</ul>