<h1><%= @beer_to_view.beer_name %></h1>

<p>Average rating for <%= @beer_to_view.beer_name %> is <%= @average %></p>

<p>*Still need to put list of people who voted with each of their votes*</p>

<ul>
  <li><a href="beers_menu">Beer menu</a></li>
  <li><a href="/homepage">Homepage</a></li>
</ul>